*~*.bak
#Compiled GeoObject files
*.slo *.lo *.o
.obj

#Precompiled Headers
*.gch
*.pch

#Compiled Dynamic libraries
*.so *.dylib
*.dll

#Fortran module files
*.mod

#Compiled Static libraries
*.lai *.la *.a
*.lib

#Executables
*.exe *.out *.app
*.pyc
#Directory
build*/
.idea*/
.directory

#misc
.tags
.cproject
.project
.settings/
.vscode/ropeproject
__pycache__
cmake-build-*
*-checkpoint.ipynb
.pytest*
sources
*_sources
*.gz
*.bz2
*.zip
*.iso
*.rar
*.tar
*.exe
*.jpg
*.png
